<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We have received your order.</h1>
    <p>
      Your order number is <%= @order.id %>. <br>
    </p>
    <p>Order summary:</p>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% LineItem.where(order_id:@order).each do |item| %>
      <% Product.where(id:item.product_id).each do |product| %>
        <%= render 'item', product:product, quantity:item.quantity.to_i %>
      <% end %>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          TOTAL:
        </th>
        <th>
          <%= @order.total_cents / 100.0 %>
        </th>
      </tr>
    </tfoot>
  </table>
  </body>
  
</html>